<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Spot</title>
</head>

<body>
    <section id="nav-bar" class="container-fluid">
    <nav class="navbar navbar-light bg-light d-flex justify-content-end">
        <a href="/" id="bg-custom" class="nav-item nav-link">Home</a>
        <a href="/" id="bg-custom" class="nav-item nav-link">About Me</a>
        <a href="/" id="bg-custom" class="nav-item nav-link">Projects</a>
        <a href="/" id="bg-custom" class="nav-item nav-link">Resume</a>
        <a href="/" id="bg-custom" class="nav-item nav-link">Contact Me</a>
    </nav>
    </section>

</body>


</html>