<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Mateo's Portfolio</title>
</head>

<body>
    <section id="nav-bar" class="container-fluid">
    <nav class="nav nav-pills nav-fill navbar bg-info">
        <a href="/" id="bg-custom" class="nav-item text-white nav-link">Home</a>
        <a href="/" id="bg-custom" class="nav-item text-white nav-link">About Me</a>
        <a href="/" id="bg-custom" class="nav-item text-white nav-link">Projects</a>
        <a href="/" id="bg-custom" class="nav-item text-white nav-link">Resume</a>
        <a href="/" id="bg-custom" class="nav-item text-white nav-link">Contact Me</a>
    </nav>
    </section>
    <br>
    <div class="container  float-left col-md-4">
        <img  src="images/self.jpg" class="responsive-img circle " alt="self image" width="35%" height="35%">
    </div>

</body>


</html>