<div class="media container-fluid bg-info" style="width: 100%">
        <img src="images/self.jpg" class="responsive-img circle " alt="profile pic of mateo" width="22%" height="22%">
        <div class="media-body container-fluid bg-info text-white  col-md-12" style="width: 50px" width="100%">
            <br>
            <h3 id="aboutMe" class="mt-0">ABOUT ME</h3>
            <h6>
                <p>Hi, I'm Mateo and welcome to my portfolio page.</p>

                <p>I have experience working with robotic medical devices, proficient in collaborating with engineers
                    and
                    other cross functional teams to test new product designs, analyze performance and product issues,
                    and
                    maintain accurate project records. </p>
                <p>I am UC San Diego graduate with a B.S. in Cognitive Neuroscience. Currently a full time student at UC
                    Berkeley Extension working to become a Full Stack Web Developer.</p>
                <p>Skills:</p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="row">HTML</th>
                            <th scope="row">CSS</th>
                            <th scope="row">Javascript</th>
                            <th scope="row">Express</th>
                            <th scope="row">Node</th>
                            <th scope="row">SQL</th>
                            <th scope="row">REST API's</th>
                            <th scope="row">Handlebars</th>
                        </tr>
                    </thead>
                    <thead class="thead-light">
                        <tr>
                            <th scope="row">Bootstrap</th>
                            <th scope="row">jQuery</th>
                            <th scope="row">GitHub</th>
                            <th scope="row">Heroku</th>
                            <th scope="row">OOP</th>
                            <th scope="row">TDD</th>
                            <th scope="row">Insomnia</th>
                            <th scope="row">Moment.js</th>
                        </tr>
                    </thead>
                </table>
            </h6>
        </div>

    </div>
    <br>
    <h3 id= "projects" class="mt-0 text-white projects bg-info center">Projects</h3>

    <div class=" bg-info row">
        <div class="card" style="width: 33%;">
            <img src="images/bookspot-demo.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Spot</h5>
                <p class="card-text">This application allows user to search books by title, author, genre and more. Each
                    book will be accompanied by the cover, author, description and published date. User can save their
                    favorite books to their profile they like and leave a review</p>
                <a href="https://aqueous-plateau-74718.herokuapp.com/" target="_blank"
                    class="btn btn-primary bg-info">Application</a>
                <a href="https://github.com/mateonav98/book-spot" target="_blank" class="btn btn-primary bg-info">GitHub
                    Repo</a>
            </div>
        </div>
        <div class="card" style="width: 33%;">
            <img src="images/get-unbored-overview.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Get Unbored</h5>
                <p class="card-text">Use this website to get unbored! Not sure what to do with your day off? Randomly
                    generate an activity to do! Need a laugh? Get a joke about Chuck Norris. This app will randomly
                    generate
                    jokes and activities so that you are never bored. Save your favorites jokes and activities with our
                    like
                    button and access them in your favorites page.</p>
                <a href="https://17keerti.github.io/get-unbored/" target="_blank"
                    class="btn btn-primary bg-info">Application</a>
                <a href="https://github.com/17keerti/get-unbored" target="_blank" class="btn btn-primary bg-info">GitHub
                    Repo</a>
            </div>
        </div>
        <div class="card" style="width: 33%;">
            <img src="images/notes-app.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Note Taker</h5>
                <p class="card-text">This application allows users to write notes and save them.</p>
                <a href="https://blooming-wave-42021.herokuapp.com/" target="_blank"
                    class="btn btn-primary bg-info">Application</a>
                <a href="https://github.com/mateonav98/note-taker" target="_blank"
                    class="btn btn-primary bg-info">GitHub
                    Repo</a>
            </div>
        </div>
    </div>
    <div class = "text-white bg-info text-center">
    <h3 id= "contactMe" class="mt-0 contactMe ">Contact Me</h3>
        <h6 class="text-center text-white">Email: mateonav98@gmail.com</h6>
        <a href="https://www.linkedin.com/in/mateonav/" id="bg-custom" class="text-white nav-item nav-link">LinkedIn</a>
        <h6 class="text-center text-white">Phone Number: (408)-835-2809</h6>
        <a href="https://github.com/mateonav98" id="bg-custom" class="text-white nav-item nav-link">GitHub</a>
    </div>
